.body {
  background-color: #fafafa;
  font-family: Gilroy, sans-serif;
  color: #141414;
  font-size: 18px;
  line-height: 26px;
}

.section-slider {
  width: 100%;
}

.slider-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 30vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.slider-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  cursor: -webkit-grab;
  cursor: grab;
}

.section-hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-hero.margin {
  margin-bottom: 220px;
}

.section-heading {
  margin-left: 15%;
  padding-top: 160px;
  padding-bottom: 160px;
}

.heading-medium {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.5em;
  line-height: 50px;
  font-weight: 600;
  text-align: left;
}

.section-description {
  margin-left: 30vw;
}

.paragraph {
  width: 100%;
  margin-bottom: 0px;
}

.heading-3 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.heading-3.featured {
  margin-top: 20px;
  cursor: pointer;
}

.wrap-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  margin-top: 30px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: #141414;
  font-weight: 600;
}

.section-projekte {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15%;
  margin-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-projekte.similar {
  margin-top: 140px;
}

.featured-img {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  padding-top: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: var(--image-7b40fadb);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
}

.featured-number {
  position: absolute;
  left: -40px;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.5em;
  line-height: 50px;
  font-weight: 600;
}

.featured-item {
  padding-right: 40px;
  padding-left: 40px;
}

.featured-wrapper {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-address {
  width: 100%;
  margin-bottom: 140px;
  padding-right: 15%;
  padding-left: 15%;
}

.container-info-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 140px 15%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #141414;
  color: #fff;
}

.image-2 {
  width: 100px;
}

.link {
  color: #fff;
  text-decoration: none;
}

.slider-image {
  display: block;
  width: auto;
  height: 40vw;
  max-height: 500px;
  cursor: -webkit-grab;
  cursor: grab;
}

.slider-image.highlight {
  cursor: pointer;
}

.featured-link {
  width: 100%;
  height: auto;
  color: #141414;
  text-decoration: none;
}

.section-heading-top {
  margin-bottom: 140px;
  padding-top: 140px;
  padding-right: 15%;
  padding-left: 15%;
}

.wrapper-logo-heading-plus {
  color: #141414;
  text-decoration: none;
}

.wrapper-slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.featuring-number {
  position: absolute;
  left: 30vw;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 100px;
  line-height: 100px;
  font-weight: 600;
}

.cl-item-project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.collection-list-wrapper {
  width: 100%;
}

.collection-list {
  width: 100%;
}

.wrap-project-description {
  width: 35vw;
  max-width: 500px;
}

.wrap-project-details {
  padding-top: 81px;
  padding-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.wrap-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 330px;
  margin-bottom: 10px;
  padding-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.detail-title {
  padding-right: 7px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: 600;
}

.detail-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-4 {
  margin-bottom: 40px;
  padding-left: 40px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.section-mention-legal {
  margin-right: 15%;
  margin-left: 15%;
}

.link-menu {
  color: #141414;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
}

.link-menu.within-menu {
  margin-bottom: 20px;
}

.wrap-embed {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  width: 60px;
  height: 60px;
  padding-top: 30px;
  padding-right: 30px;
}

.section-navigation {
  position: relative;
}

.container-menu-open {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 998;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: -4px 0 16px -7px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(130%, 0px);
  -ms-transform: translate(130%, 0px);
  transform: translate(130%, 0px);
}

.svg-embed {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.wrapper-links-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-cl-wrapper {
  position: relative;
  width: 100%;
}

.header-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-img {
  position: relative;
  width: 50%;
  max-width: 800px;
  opacity: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.header-cl {
  position: relative;
  width: 100%;
}

.slider-item-news {
  position: relative;
  display: inline-block;
  width: auto;
  height: 50px;
  padding-right: 100px;
  padding-left: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  -webkit-transition: background-color 350ms ease-in;
  transition: background-color 350ms ease-in;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.slider-item-news:hover {
  background-color: #ececec;
}

.html-embed-news {
  padding-top: 11px;
  background-color: transparent;
  text-decoration: none;
}

.slider-list-news {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.slider-wrap-news {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 220px;
  background-color: #141414;
  text-decoration: none;
}

.featuring-number-home-2 {
  position: absolute;
  left: 14%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.5em;
  line-height: 50px;
  font-weight: 600;
}

.embed-logotype {
  width: 100%;
}

.cta {
  margin-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #000;
  background-color: transparent;
  color: #141414;
  font-weight: 600;
}

.heading-medium-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 5.5vw;
  line-height: 5.5vw;
  font-weight: 600;
  text-align: left;
}

.section-heading-top-copy {
  padding: 60px 15% 140px;
}

.wrapper-logo-heading-plus-2 {
  color: #141414;
  text-decoration: none;
}

.cl-wrapper-highlight {
  position: relative;
  margin-bottom: 100px;
}

.wrap-img-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: -72px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-punchline {
  position: absolute;
  width: 60%;
  margin-top: 72px;
}

.body-2 {
  background-color: #000;
}

.seo-hidden {
  position: absolute;
}

@media screen and (max-width: 991px) {
  .section-hero.margin {
    height: 80vh;
    margin-bottom: 100px;
  }

  .section-heading {
    margin-left: 10%;
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .section-description {
    padding-right: 40px;
  }

  .wrap-description {
    max-width: none;
  }

  .section-projekte {
    margin-right: 5%;
    margin-left: 5%;
  }

  .container-address {
    padding-right: 10%;
    padding-left: 10%;
  }

  .container-info-footer {
    padding-right: 10%;
    padding-left: 10%;
  }

  .featuring-number {
    margin-left: -72px;
    font-size: 80px;
    line-height: 80px;
  }

  .cl-item-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wrap-project-description {
    width: 100%;
    max-width: none;
  }

  .wrap-project-details {
    padding-top: 40px;
    padding-left: 0px;
  }

  .section-navigation {
    position: relative;
  }

  .container-menu-open {
    width: 50%;
  }

  .slider-item-news {
    padding-right: 140px;
    padding-left: 140px;
  }

  .slider-wrap-news {
    margin-bottom: 100px;
  }

  .cl-wrapper-highlight {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    font-size: 14px;
    line-height: 20px;
  }

  .section-heading {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .heading-medium {
    font-size: 2.2em;
    line-height: 38px;
  }

  .section-description {
    padding-right: 20px;
  }

  .button {
    font-size: 14px;
  }

  .featured-number {
    left: -29px;
    font-size: 2.2em;
    letter-spacing: 1px;
  }

  .featured-wrapper {
    margin-right: 10%;
    margin-left: 10%;
  }

  .container-address {
    margin-bottom: 100px;
  }

  .container-info-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-2 {
    width: 60px;
    margin-top: 40px;
  }

  .footer-list {
    margin-bottom: 0px;
  }

  .footer-list-item {
    padding-bottom: 10px;
  }

  .paragraph-2 {
    margin-bottom: 40px;
  }

  .section-heading-top {
    margin-bottom: 140px;
  }

  .featuring-number {
    margin-left: -55px;
    font-size: 60px;
    line-height: 60px;
  }

  .wrap-project-details {
    padding-top: 20px;
  }

  .wrap-detail {
    max-width: 265px;
  }

  .wrap-embed {
    width: 46px;
    height: 44px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .container-menu-open {
    width: 60%;
  }

  .slider-item-news {
    height: 40px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .featuring-number-home-2 {
    font-size: 2.2em;
  }

  .cta {
    margin-top: 40px;
    font-size: 14px;
  }

  .section-heading-top-copy {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  .section-hero.margin {
    margin-bottom: 60px;
  }

  .section-heading {
    margin-left: 20px;
  }

  .heading-medium {
    font-size: 7vw;
    line-height: 9vw;
  }

  .section-description {
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .featured-number {
    left: -25px;
    font-size: 1.9em;
    line-height: 36px;
  }

  .featured-wrapper {
    margin-right: 20px;
    margin-left: 20px;
  }

  .container-address {
    margin-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-info-footer {
    padding: 60px 20px;
  }

  .section-heading-top {
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 20px;
    padding-top: 100px;
    padding-right: 0%;
    padding-left: 0%;
  }

  .featuring-number {
    margin-left: -37px;
    font-size: 40px;
    line-height: 40px;
  }

  .section-mention-legal {
    margin-right: 20px;
    margin-left: 20px;
  }

  .container-menu-open {
    width: 75%;
  }

  .header-img {
    width: 70%;
  }

  .slider-item-news {
    padding-right: 40px;
    padding-left: 40px;
  }

  .slider-wrap-news {
    margin-bottom: 60px;
  }

  .featuring-number-home-2 {
    position: absolute;
    left: 0%;
    top: -50%;
    right: 0%;
    bottom: auto;
    width: 100%;
  }

  .embed-logotype {
    width: 40%;
  }

  .heading-medium-2 {
    font-size: 7vw;
    line-height: 7vw;
  }

  .section-heading-top-copy {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 0px;
    padding-right: 0%;
    padding-left: 0%;
  }

  .cl-wrapper-highlight {
    margin-bottom: 20px;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/gilroy-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/gilroy-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/gilroy-extrabold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/gilroy-semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}